<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" type="images/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS18w4YlKG4cQWdTgXrNZSDm16Ial2AyrnRFA&usqp=CAU" />
    <title>Groupie-tracker</title>
</head>
<header>
        <h1>Groupie-tracker</h1> 

</header>
<body>
    <div class="AllArtist">
    {{range  .}}
        <div class="card" >
            <a href="/tracker/?id={{.Id}}">
            <h2 > {{.Name}} </h2>
            <img src="{{.Image}}" alt="{{.Name}}">
            </a>
        </div>
    {{end}}
    </div>
</body>
</html>